<div class="container">
	<div class="row">
		<div class="col-md-offset-3 col-md-6">
			<div class="row">
				<div class="col-md-6">
					<p class="label label-success">{{cityId}}</p>
					<p>Сегодня: {{cityData.forecast[0].date}}</p>
					<span>Температура: {{cityData.forecast[0].temperature}}, </span>
					<span>{{cityData.forecast[0].weather}}</span>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-12" role="alert">Прогноз на 6 дней:</div>
			</div>
			<div class="row">
				<div class="col-md-4 alert alert-info city-weather" ng-if="$index" ng-repeat="day in cityData.forecast">
					<p>{{day.date}}</p>
					<p>{{day.temperature}}</p>
					<p>{{day.weather}}</p>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-12"><a href="/#!/">Назад</a></div>
			</div>
		</div>
	</div>
</div>