<div class="container">
	<div class="row">
		<div class="col-md-offset-3 col-md-6">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Введите название города на английском" ng-model="city">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button" ng-click="getCurrentForecast()">Искать!</button>
				</span>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<weather-block httpdata="httpData" ng-if="httpData" convert-date="convertDate(date)" convert-temp="convertTemp(tmp)"></weather-block>
</div>
